<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVu3MsxaJ0HDcU3RJHPzHXIi1qhN_frgU</string>
	<key>GCM_SENDER_ID</key>
	<string>1098879051348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assistantApp</string>
	<key>PROJECT_ID</key>
	<string>assistant-app-iitu</string>
	<key>STORAGE_BUCKET</key>
	<string>assistant-app-iitu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098879051348:ios:7383be42e3407d2b4eafc1</string>
</dict>
</plist>